:root {
    --verde: #459949;
    --smoke: #ebebeb;
    --gry: #d1d1d1;
    --men: #2b2b2b;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--smoke);
    color: black;
}

.box_capa {
    background-color: var(--verde);
    color: var(--vpp);
    display: flex;
    flex-direction: row;
    padding: 10px 40px;
    justify-content: space-between;
    box-shadow: 0px 0px 20px grey;
    align-items: center;
}

#foto {
    height: 310pt;
    border-radius: 20px;
}

#intro1 {
    width: 60%;
    padding: 50pt 70pt;
    margin: 20pt;
}

#intro2 {
    padding: 10pt 70pt 10pt 10pt;
}

.menu {
    padding: 20px 20px;
    align-items: center;
    text-align: center;
    background-color: var(--men);
    color: whitesmoke;
    box-shadow: 0px 0px 100px black;
}

.box2 {
    display: flex;
    flex-direction: row;
    padding: 10pt 150pt;
    margin: 20pt;
    justify-content: space-between;
    gap: 50pt;
}

h2 {
    font-size: 30pt;
}

p {
    font-size: 13pt;
}

li {
    font-size: 13pt;
}

#boxcont {
    background-color: var(--men);
    color: whitesmoke;
    box-shadow: 0px 0px 10px grey;
}

#boxcont2 {
    display: flex;
    flex-direction: row;
    padding: 10pt 150pt;
    justify-content: space-between;
}

#titleproj {
    background-color: var(--gry);
    border-radius: 10pt;
    padding: 30pt;
    box-shadow: 0px 0px 10px grey;
    text-align: center;
}

#projetos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.projblock {
    margin: 10pt;
    height: 400pt;
    width: 297pt;
    position: relative;
}

.overlay{
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    transition: .5s ease;
    background-color: var(--men);
    height: 100%;
    width: 100%;
}

.center {
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}


.projblock:hover .overlay { opacity: 1; }


.capa{
    width: 100%;
    height: 100%;
    display: block;
}